
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #212121;
    color: azure;
}

.container__body {
    margin-block: 0;
    margin-inline: auto;
    max-width: 1000px;
}


  
 